body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(248, 241, 189, 0.696);
    margin:0px;
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}

img{
    width:400px; 
    height:100%;
    border-radius: 100%;
}
